$light-gray: #f0f0f0;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;

  font-family: 'Roboto', serif;
  font-weight: 300;
}

.container {
  margin: 1em;

  &.center {
    text-align: center;
  }
}

ul {
  list-style: none;
  margin-bottom: 0.5em;
}

li {
  padding: 1em;

  &:nth-child(2n) {
    background: $light-gray;
  }
}

.element {
  width: 100%;
  margin-bottom: 0.5em;

  label, input {
    display: block;
  }
}

input[type="text"], input[type="number"] {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
}

input[type="button"], input[type="submit"] {
  width: 100%;
  padding: 1em;
  background: $light-gray;
  border: none;
}

.badge {
  background: #e1e1e1;
  margin: 0 0.5em;
  padding: 0.25em;
}

a {
  cursor: hand;
}